## Scrapping Dataset

In [1]:
import json

In [2]:
import kagglehub

In [3]:
kagglehub.dataset_download('rounakbanik/the-movies-dataset' , path = "movies_metadata.csv")

'C:\\Users\\youss\\.cache\\kagglehub\\datasets\\rounakbanik\\the-movies-dataset\\versions\\7\\movies_metadata.csv'

## Reading Dataset

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r".\datasets\movies_metadata.csv" , low_memory=False , index_col = "imdb_id")

## A Glimpse On the Data

In [6]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0114709,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
tt0113497,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
tt0113228,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
tt0114885,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
tt0113041,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
df.shape

(45466, 23)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45466 entries, tt0114709 to tt6980792
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   original_language      45455 non-null  object
 7   original_title         45466 non-null  object
 8   overview               44512 non-null  object
 9   popularity             45461 non-null  object
 10  poster_path            45080 non-null  object
 11  production_companies   45463 non-null  object
 12  production_countries   45463 non-null  object
 13  release_date           45379 non-null  object
 14  revenue                45460 non-null  float64
 15  runtime                45203 non-null  float64
 16  spoken_languages       45460 non-null  object
 17  status                 45379 non-null  object
 18  tagline                20412 non-null  object
 19  title                  45460 non-null  object
 20  video                  45460 non-null  object
 21  vote_average           45460 non-null  float64
 22  vote_count             45460 non-null  float64
dtypes: float64(4), object(19)
memory usage: 8.3+ MB

In [9]:
df.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [10]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

## Custom Review to random records

In [11]:
df["belongs_to_collection"][2]

C:\Users\youss\AppData\Local\Temp\ipykernel_23548\2703393040.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df["belongs_to_collection"][2]

"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}"

for index in range(len(df["production_countries"])):
    print(df["production_countries"][index])

In [12]:
print(df["spoken_languages"][200])

[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'EspaÃ±ol'}]

C:\Users\youss\AppData\Local\Temp\ipykernel_23548\2174342177.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df["spoken_languages"][200])

## Initial Cleansing Techniques

In [13]:
df.drop_duplicates(inplace=True , ignore_index=False )
df.shape

(45449, 23)

In [14]:
df.dropna(axis = 0 , how="all" , inplace=True)
df.dropna(axis = 1 , how="all" , inplace=True)
df.shape

(45449, 23)

In [15]:
df.drop(axis=1 , columns=["id"  , "runtime" ,"budget" , 
                        "video" , "title" ,"revenue" , 
                        "vote_count" , "original_language"] , inplace=True)

## Functions Deployment

In [16]:
import ast
from tqdm import tqdm
# col_header_to_iterate = "production_countries"
# dict_key = "iso_3166_1"
def access_json_and_get_dict_value(col_header_to_iterate , dict_key):
    for index , row in tqdm(df.iterrows() , total=len(df[col_header_to_iterate])):
        #converting string to right types
        if pd.isna(row[col_header_to_iterate]):
            continue
        elif row[col_header_to_iterate]:
            try:
                record = ast.literal_eval(row[col_header_to_iterate])
                if isinstance(record , list):
                    if len(record) == 0:
                        pass
                    else:
                        values = ""
                        for single_element in record:
                            if dict_key in single_element:
                                values += "," + single_element[dict_key]
                        #row[header_to_iterate] = countries   #Not updating the record value in df correctly
                        df.at[index , col_header_to_iterate] = values[1:]
            except (ValueError, SyntaxError) as e:
                print(f"Error parsing row {index}: {e}")

In [17]:

def access_dict_and_get_dict_value(col_header_to_iterate  , dict_key):
    for index , row in tqdm(df.iterrows() , total=len(df[col_header_to_iterate])):
        if pd.isna(row[col_header_to_iterate]):
            continue
        elif row[col_header_to_iterate]:
            try:
                record = ast.literal_eval(row[col_header_to_iterate])
                if isinstance(record , dict):
                    if len(record) == 0:
                        pass
                    else:
                        values = ""
                        values += record[dict_key]
                        #row[header_to_iterate] = countries   #Not updating the record value in df correctly
                        df.at[index , col_header_to_iterate] = values
            except (ValueError, SyntaxError) as e:
                print(f"Error parsing row {index}: {e}")

## Functions Calling

In [18]:
access_json_and_get_dict_value(col_header_to_iterate="genres" , dict_key="name")

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45449/45449 [00:51<00:00, 887.77it/s]

In [19]:
access_json_and_get_dict_value(col_header_to_iterate="production_companies" , dict_key="name")

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45449/45449 [00:41<00:00, 1088.78it/s]

In [20]:
access_json_and_get_dict_value(col_header_to_iterate="production_countries" , dict_key="iso_3166_1")

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45449/45449 [00:44<00:00, 1014.65it/s]

In [21]:
access_json_and_get_dict_value(col_header_to_iterate="spoken_languages" , dict_key="iso_639_1")

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45449/45449 [00:45<00:00, 990.84it/s]

In [22]:
access_dict_and_get_dict_value(col_header_to_iterate="belongs_to_collection" , dict_key="name")

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45449/45449 [00:06<00:00, 7354.13it/s]

## Making New Columns for future use

In [23]:
df['idmb_url'] = 'https://www.imdb.com/title/' + df.index.astype(str) + '/'
df['image_url'] = 'https://image.tmdb.org/t/p/w92' + df['poster_path']

## Renaming Columns to easier names

In [24]:
df.rename({"belongs_to_collection":"collection" , "original_title":"title" } , inplace=True)

## Exporting Cleansed Data to a CSV file

In [25]:
df.to_csv(r"./datasets/cleansed_prepared.csv" , index=False)

## Prototypes Functions

import ast
from tqdm import tqdm
header_to_iterate = "production_countries"
for index , row in df.iterrows():
    #converting string to right types
    if pd.isna(row[header_to_iterate]):
        continue
    elif row[header_to_iterate]:
        try:
            record = ast.literal_eval(row[header_to_iterate])
            if isinstance(record , list):
                if len(record) == 0:
                    pass
                else:
                    countries = ""
                    for single_element in record:
                        if "iso_3166_1" in single_element:
                            countries += "," + single_element["iso_3166_1"]
                    #row[header_to_iterate] = countries   #Not updating the record value in df correctly
                    df.at[index , header_to_iterate] = countries[1:]
        except (ValueError, SyntaxError) as e:
            print(f"Error parsing row {index}: {e}")

import sketch

df.sketch.ask("okay as u see what can u reccomend for cleansing these dataset specifically ?")