## Scrapping Dataset

In [5]:
import json

In [2]:
import kagglehub

In [ ]:
kagglehub.dataset_download('rounakbanik/the-movies-dataset' , path = "movies_metadata.csv")

## Reading Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r".\datasets\movies_metadata.csv" , low_memory=False , index_col = "imdb_id")

## A Glimpse On the Data

In [22]:
df.head()

,adult,belongs_to_collection,genres,homepage,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,spoken_languages,status,tagline,vote_average
imdb_id,,,,,,,,,,,,,,,
tt0114709,False,Toy Story Collection,"Animation,Comedy,Family",http://toystory.disney.com/toy-story,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,US,1995-10-30,en,Released,NaN,7.7
tt0113497,False,NaN,"Adventure,Fantasy,Family",NaN,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"TriStar Pictures,Teitler Film,Interscope Commu...",US,1995-12-15,"en,fr",Released,Roll the dice and unleash the excitement!,6.9
tt0113228,False,Grumpy Old Men Collection,"Romance,Comedy",NaN,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"Warner Bros.,Lancaster Gate",US,1995-12-22,en,Released,Still Yelling. Still Fighting. Still Ready for...,6.5
tt0114885,False,NaN,"Comedy,Drama,Romance",NaN,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Twentieth Century Fox Film Corporation,US,1995-12-22,en,Released,Friends are the people who let you be yourself...,6.1
tt0113041,False,Father of the Bride Collection,Comedy,NaN,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"Sandollar Productions,Touchstone Pictures",US,1995-02-10,en,Released,Just When His World Is Back To Normal... He's ...,5.7

In [16]:
df.shape

(45449, 15)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45449 entries, tt0114709 to tt6980792
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45449 non-null  object
 1   belongs_to_collection  4508 non-null   object
 2   genres                 45449 non-null  object
 3   homepage               7780 non-null   object
 4   original_title         45449 non-null  object
 5   overview               44495 non-null  object
 6   popularity             45444 non-null  object
 7   poster_path            45063 non-null  object
 8   production_companies   45446 non-null  object
 9   production_countries   45446 non-null  object
 10  release_date           45362 non-null  object
 11  spoken_languages       45443 non-null  object
 12  status                 45362 non-null  object
 13  tagline                20407 non-null  object
 14  vote_average           45443 non-null  float64
dtypes: float64(1), object(14)
memory usage: 6.6+ MB

In [33]:
df.isna().sum()

adult                        0
belongs_to_collection    40941
genres                       0
homepage                 37669
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
spoken_languages             6
status                      87
tagline                  25042
vote_average                 6
image_url                  386
idmb_url                     0
dtype: int64

In [17]:
df.columns

Index(['adult', 'belongs_to_collection', 'genres', 'homepage',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'spoken_languages', 'status', 'tagline', 'vote_average'],
      dtype='object')

## Custom Review to random records

In [4]:
df["belongs_to_collection"][2]

C:\Users\youss\AppData\Local\Temp\ipykernel_31500\2703393040.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df["belongs_to_collection"][2]

"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}"

for index in range(len(df["production_countries"])):
    print(df["production_countries"][index])

In [13]:
print(df["spoken_languages"][200])

en,es

C:\Users\youss\AppData\Local\Temp\ipykernel_27256\2174342177.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df["spoken_languages"][200])

## Initial Cleansing Techniques

In [4]:
df.drop_duplicates(inplace=True , ignore_index=False )
df.shape

(45449, 23)

In [5]:
df.dropna(axis = 0 , how="all" , inplace=True)
df.dropna(axis = 1 , how="all" , inplace=True)
df.shape

(45449, 23)

In [6]:
df.drop(axis=1 , columns=["id"  , "runtime" ,"budget" , 
                        "video" , "title" ,"revenue" , 
                        "vote_count" , "original_language"] , inplace=True)

## Functions Deployment

In [7]:
import ast
from tqdm import tqdm
# col_header_to_iterate = "production_countries"
# dict_key = "iso_3166_1"
def access_json_and_get_dict_value(col_header_to_iterate , dict_key):
    for index , row in tqdm(df.iterrows() , total=len(df[col_header_to_iterate])):
        #converting string to right types
        if pd.isna(row[col_header_to_iterate]):
            continue
        elif row[col_header_to_iterate]:
            try:
                record = ast.literal_eval(row[col_header_to_iterate])
                if isinstance(record , list):
                    if len(record) == 0:
                        pass
                    else:
                        values = ""
                        for single_element in record:
                            if dict_key in single_element:
                                values += "," + single_element[dict_key]
                        #row[header_to_iterate] = countries   #Not updating the record value in df correctly
                        df.at[index , col_header_to_iterate] = values[1:]
            except (ValueError, SyntaxError) as e:
                print(f"Error parsing row {index}: {e}")

In [11]:

def access_dict_and_get_dict_value(col_header_to_iterate  , dict_key):
    for index , row in tqdm(df.iterrows() , total=len(df[col_header_to_iterate])):
        if pd.isna(row[col_header_to_iterate]):
            continue
        elif row[col_header_to_iterate]:
            try:
                record = ast.literal_eval(row[col_header_to_iterate])
                if isinstance(record , dict):
                    if len(record) == 0:
                        pass
                    else:
                        values = ""
                        values += record[dict_key]
                        #row[header_to_iterate] = countries   #Not updating the record value in df correctly
                        df.at[index , col_header_to_iterate] = values
            except (ValueError, SyntaxError) as e:
                print(f"Error parsing row {index}: {e}")

## Functions Calling

In [8]:
access_json_and_get_dict_value(col_header_to_iterate="genres" , dict_key="name")

100%|██████████| 45449/45449 [00:40<00:00, 1128.07it/s]

In [9]:
access_json_and_get_dict_value(col_header_to_iterate="production_companies" , dict_key="name")

100%|██████████| 45449/45449 [00:34<00:00, 1313.37it/s]

In [21]:
access_json_and_get_dict_value(col_header_to_iterate="production_countries" , dict_key="iso_3166_1")

  0%|          | 0/45449 [00:00<?, ?it/s]

100%|██████████| 45449/45449 [00:34<00:00, 1305.22it/s]

In [10]:
access_json_and_get_dict_value(col_header_to_iterate="spoken_languages" , dict_key="iso_639_1")

  0%|          | 0/45449 [00:00<?, ?it/s]

100%|██████████| 45449/45449 [00:38<00:00, 1165.40it/s]

In [12]:
access_dict_and_get_dict_value(col_header_to_iterate="belongs_to_collection" , dict_key="name")

100%|██████████| 45449/45449 [00:05<00:00, 8587.84it/s]

## Making New Columns for future use

In [32]:
df['idmb_url'] = 'https://www.imdb.com/title/' + df.index.astype(str) + '/'
df['image_url'] = 'https://image.tmdb.org/t/p/w92' + df['poster_path']

## Renaming Columns to easier names

In [18]:
df.rename({"belongs_to_collection":"collection" , "original_title":"title" } , inplace=True)

## Prototypes Functions

import ast
from tqdm import tqdm
header_to_iterate = "production_countries"
for index , row in df.iterrows():
    #converting string to right types
    if pd.isna(row[header_to_iterate]):
        continue
    elif row[header_to_iterate]:
        try:
            record = ast.literal_eval(row[header_to_iterate])
            if isinstance(record , list):
                if len(record) == 0:
                    pass
                else:
                    countries = ""
                    for single_element in record:
                        if "iso_3166_1" in single_element:
                            countries += "," + single_element["iso_3166_1"]
                    #row[header_to_iterate] = countries   #Not updating the record value in df correctly
                    df.at[index , header_to_iterate] = countries[1:]
        except (ValueError, SyntaxError) as e:
            print(f"Error parsing row {index}: {e}")

In [10]:
import sketch

In [ ]:
#df2.sketch.ask("okay as u see what can u reccomend for cleansing these dataset specifically ?")